{% extends 'base.html' %}

{% block content %}
<br>
<div class="card">
    <p>Seleccione un WP destino:</p>
    <div id="waypoints"></div>
</div>

<div class="card m-3" >
    <div class="card-body text-center">
        <button id="op_pause" class="btn btn-warning" style="font-size: 20px">Pausar</button>
        <button id="op_resume" class="btn btn-info" style="font-size: 20px">Continuar</button>
        <button id="op_stop" class="btn btn-danger" style="font-size: 20px">Detener</button>
    </div>
</div>

<div class="card mt-2">
    <p> Status: <pre id="status"></pre></p>
</div>

{% endblock content %}


{% block scripts %}
<script>
// Set functionality
$.ajax(
    {
        url: document.location.origin+"/ros/functionality_mode/",
        type: "POST",
        //traditional:true,
        headers: {
        'accept': 'application/json',
        'Content-Type': 'application/json'
        },
        data: JSON.stringify({ mode: "delivery"}),
        success: function(data){
            console.log("Set functionality success");
        },
        error: function(error){
        console.log(error);
        alert(error);
        }
});

// ELEMENTS FOR pause, resume and stop
var button_op_pause = document.getElementById("op_pause");
var button_op_resume = document.getElementById("op_resume");
var button_op_stop = document.getElementById("op_stop");

// ACTIONS FOR WP options
// Pause
button_op_pause.addEventListener("click", function(){
    console.log("op_pause");
    $.ajax(
    {
        url: document.location.origin+"/navigation/set_wp/pause",
        type: "POST",
        //traditional:true,
        headers: {
        'accept': 'application/json',
        'Content-Type': 'application/json'
        },
        data: JSON.stringify({ option: "pause"}),
        success: function(data){
            console.log("Set functionality success");
        },
        error: function(error){
        console.log(error);
        alert(error);
        }
    });
});

// Resume
button_op_resume.addEventListener("click", function(){
    console.log("op_resume");
    $.ajax(
    {
        url: document.location.origin+"/navigation/set_wp/resume",
        type: "POST",
        //traditional:true,
        headers: {
        'accept': 'application/json',
        'Content-Type': 'application/json'
        },
        data: JSON.stringify({ option: "resume"}),
        success: function(data){
            console.log("Set functionality success");
        },
        error: function(error){
        console.log(error);
        alert(error);
        }
    });
});

// Stop
button_op_stop.addEventListener("click", function(){
    console.log("op_stop");
    $.ajax(
    {
        url: document.location.origin+"/navigation/set_wp/stop",
        type: "POST",
        //traditional:true,
        headers: {
        'accept': 'application/json',
        'Content-Type': 'application/json'
        },
        data: JSON.stringify({ option: "stop"}),
        success: function(data){
            console.log("Set functionality success");
        },
        error: function(error){
        console.log(error);
        alert(error);
        }
    });
});


var status_label = document.getElementById("status");
// Get waypoints
$.ajax(
    {
      type: "GET",
      url: document.location.origin+"/waypoints/waypoint",
      success: function(data){
            var waypoints = data.data;
            var html = "";
            for (var i = 0; i < waypoints.length; i++) {
                html += "<button class='btn btn-primary m-3' type='button' id='waypoint_"+waypoints[i].id+"'>" + 
                waypoints[i].name + " (" + waypoints[i].position_x + "," + waypoints[i].position_y + "," + 
                waypoints[i].orientation + ")" +"</button>";
            }
            $("#waypoints").html(html);

            var waypoint_buttons = document.querySelectorAll("[id^='waypoint_']");
            // add event listeners to buttons
            for (var i = 0; i < waypoint_buttons.length; i++) {
                waypoint_buttons[i].addEventListener("click", function(){
                    var waypoint_id = this.id.split("_")[1];
                    console.log(waypoint_id);

                    // start navigation
                    console.log("Start navigation");
                    var data = {
                        waypoint_id: waypoint_id
                    };
                    $.ajax(
                        {
                            url: document.location.origin+"/navigation/set_goal/"+waypoint_id,
                            type: "POST",
                            //traditional:true,
                            headers: {
                            'accept': 'application/json',
                            'Content-Type': 'application/json'
                            },
                            data: JSON.stringify(data),
                            success: function(data){
                                console.log("Start navigation success");
                                console.log(data);
                                status_label.innerHTML = data.message;
                            },
                            error: function(data){
                                console.log("Start navigation error");
                                console.log(data.responseJSON);
                                status_label.innerHTML = data.responseJSON.message;
                            }
                    });
                });
            }
        },
        error: function(data){
            console.log(data);
        }
    }
);

socketio.on("on_status_change", (msg) =>{
    console.log(msg.data);
    status_label.innerHTML = JSON.stringify(msg.data, undefined, 2);
  })

</script>
{% endblock scripts %}
