{% extends 'base.html' %}

{% block references %}
{% endblock references %}

{% block content %}

<br>
<h1>
    Seleccione la funcionalidad
</h1>

<br>
    <a class="btn btn-primary" type="button" id="start_mode" href="{{ url_for('get_delivery') }}" style="font-size: 25px">Acompañante</a>
<br>

<br>
  <div class="container text-center">
    <p style="font-size: 30px">Fuentes de Información</p>
    <a target="_blank" href="https://docs.ros.org/en/humble/index.html" style="font-size: 20px; text-decoration: none">ROS 2 Documentation: Humble</a>
</div>


{% block scripts %}
<script>
    // Set functionality
    $.ajax(
      {
        url: document.location.origin+"/ros/functionality_mode/",
        type: "POST",
        //traditional:true,
        headers: {
          'accept': 'application/json',
          'Content-Type': 'application/json'
        },
        data: JSON.stringify({mode: "static"}),
        success: function(data){
            console.log("Set functionality success");
        },
        error: function(error){
          console.log(error);
          alert(error);
        }
  });

  $.ajax(
    {
        url: document.location.origin+"/navigation/set_wp/stop",
        type: "POST",
        //traditional:true,
        headers: {
        'accept': 'application/json',
        'Content-Type': 'application/json'
        },
        data: JSON.stringify({ option: "stop"}),
        success: function(data){
            console.log("Set functionality success");
        },
        error: function(error){
        console.log(error);
        alert(error);
        }
    });
</script>
{% endblock scripts %}

{% endblock content %}
